@{
    ViewData["Title"] = "Strona Główna";
}

<h1>Witamy w grze GAME!</h1>

<div class="button-container">
    <a href="/Home/Login" class="btn">Zaloguj się</a>
    <a href="/Home/Register" class="btn">Zarejestruj się</a>
</div>